{{ form_start(form) }}
    {{ form_row(form.) }}

<div class="form-group">
    {{ form_label(form.) }}
    {{ form_widget(form.) }}
    {{ form_errors(form.) }}
</div>

<button class="btn btn-primary" type="submit">Save</button>
{{ form_end(form) }}